{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "id": $util.dynamodb.toDynamoDBJson($util.autoId()),
    },
    "attributeValues" : {
        "game_id" : $util.dynamodb.toDynamoDBJson("$ctx.args.game_id"),
        "hand_id" : $util.dynamodb.toDynamoDBJson($util.defaultIfNull($ctx.args.hand_id, "")),
		"name": $util.dynamodb.toDynamoDBJson("$ctx.args.name"),
		"order": $util.dynamodb.toDynamoDBJson(-1),
		"rank": $util.dynamodb.toDynamoDBJson(-1)
    }
}