## THIS IS NO LONGER USED

{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "id": $util.dynamodb.toDynamoDBJson($util.autoId()),
    },
    "attributeValues" : {
        "state_id" : $util.dynamodb.toDynamoDBJson(""),
		"joinable": $util.dynamodb.toDynamoDBJson(true),
		"players": $util.dynamodb.toDynamoDBJson([])
    }
}